<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-float-left">
    Welcome to Prbit
    </ion-title>
    <ion-button size="medium" class="ion-float-right" [routerLink]="['/addpr']">Add PR</ion-button>
  </ion-toolbar>
</ion-header>

  <ion-list>
    <app-pr *ngFor="let pr of prs" [pr]="pr"></app-pr>
  </ion-list>
</ion-content>